@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

/* general styles */

.heading {
    font-family: "Lora", serif;
}

.main-text {
    font-family: "Open Sans", serif;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

/* Navigation bar */

.nav-wrapper {
    height: 120px !important;
    line-height: 120px;
}

.nav-wrapper ul li a {
    font-size: 1.3em;
}

.econ-logo {
    height: 100px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 25%;  
}

#title {
    margin-bottom: 0;
    margin-left: 230px;
    padding: 5px;
    position: absolute;
}

/* Footer */


  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      

