@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

/* general styles */

.heading {
    font-family: "Lora", serif;
}

.main-text {
    font-family: "Open Sans", serif;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.btn {
    font-family: "Lora", serif !important;
    text-transform: capitalize !important;
}

.btn-large {
    font-family: "Lora", serif !important;
    text-transform: capitalize !important;
}

.flashes {
    line-height: 3;
    margin-top: 0 !important;
}

/************************************************ Navigation bar ******************************************************/

.nav-wrapper {
    height: 120px !important;
    line-height: 120px;
}

.nav-wrapper ul li a {
    font-size: 1.3em;
}

.econ-logo {
    height: 100px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 25%;  
}

#title {
    margin-bottom: 0;
    margin-left: 230px;
    padding: 5px;
    position: absolute;
}

/* Footer */


  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/******************************************* homepage ************************************************/

/* .carousel styling */

.carousel {
    height: 400px !important;
}

@media only screen and (max-width: 600px) {
    .carousel {
    height: 200px !important;
    }
}

@media only screen and (max-width: 300px) {
    .carousel {
    height: 150px !important;
    }
}

/* card styling */

@media only screen and (max-width: 600px) {
    .card.horizontal .card-image img {
        margin-top: 50%;
        margin-bottom: 50%;
    }
}

.desktop-card img {
    height: 350px;  
}

.mobile-cards img {
    height: 200px;
}

/******************************************* Forms styles ************************************************/

.webforms {
    margin-top: 35px !important;
}