{% extends "base.html" %}

{% block content %}

<h2 class="header center-align capitalize">chattrooms</h2>

<div class="row container">
    <div class="col s12 m6">
        <div class="card chatroom-card">
            <div class="card-image">
                <img src="{{ url_for('static', filename = 'img/microroom.jpg') }}" alt="microeconomics">
                <span class="btn-small blue-grey darken-3">Microeconomics</span>
            </div>
            <div class="card-content main-text">
                <p>
                    This chattroom is to disscuss theoretical frameworks, and models within microeconomic.
                    This ranges from auctions and gametheory, to behavioural economics. Ongoing research is
                    also a viable topic.
                </p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('micro_chatt') }}" class="heading btn-large blue-grey darken-3 truncate ">Enter</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card chatroom-card">
            <div class="card-image">
                <img src="{{ url_for('static', filename = 'img/macroroom.jpg') }}" alt="macroeconomics">
                <span class="btn-small blue-grey darken-3">Macroeconomics</span>
            </div>
            <div class="card-content main-text">
                <p>
                    This chattroom is to disscuss theoretical frameworks, and models within macroconomic.
                    This ranges from DSGE, to international trade theories. Ongoing research is
                    also a viable topic.
                </p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('macro_chatt') }}" class="heading btn-large blue-grey darken-3">Enter</a>
            </div>
        </div>
    </div>
</div>
<div class="row container">
    <div class="col s12 m6">
        <div class="card chatroom-card">
            <div class="card-image">
                <img src="{{ url_for('static', filename = 'img/politicalroom.jpg') }}" alt="political economy">
                <span class="btn-small blue-grey darken-3">Political economy</span>
            </div>
            <div class="card-content main-text">
                <p>
                    This chattroom is to disscuss current events in economics, and the political intermarriage of the 
                    economic discipline. Topics may include ative policy, economic history, and institutions. Here it gives
                    an oppertunity to air different perspectives and schools of economic thought.
                </p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('political_chatt') }}" class="heading btn-large blue-grey darken-3">Enter</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card chatroom-card">
            <div class="card-image">
                <img src="{{ url_for('static', filename = 'img/studentroom.jpg') }}" alt="student">
                <span class="btn-small blue-grey darken-3">Student Chatt</span>
            </div>
            <div class="card-content main-text">
                <p>
                    This is a chattroom aimed at student of economics; ie not PhD students. To ask questions and discuss 
                    basic to intermediate questions. Such as: how to use CAPM model, or explain what inferior goods are.
                </p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('student_chatt') }}" class="heading btn-large blue-grey darken-3">Enter</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}