{% extends "base.html" %}

{% block content %}

    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="{{ url_for('static', filename = 'img/business.jpg') }}"></a>
        <a class="carousel-item" href="#two!"><img src="{{ url_for('static', filename = 'img/businessman.jpg') }}"></a>
        <a class="carousel-item" href="#three!"><img src="{{ url_for('static', filename = 'img/chart.jpg') }}"></a>
        <a class="carousel-item" href="#four!"><img src="{{ url_for('static', filename = 'img/dollars.jpg') }}"></a>
    </div>

    <h2 class="center-align heading">Welcome to EconHub</h2>

{% endblock %}